@media all and (min-width: 1170px) {
    #header {
        height: 100vh;
    }
    #main-text {
        color: white;
    }
}

@media all and (max-width: 1170px) {
    #header {
        height: 100vh;
        background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-2.jpg');
    }

    #main-text {
        top: 20%;
        transform: translateX(60%);
        width: 90%;
        text-align: left;
        color: white;
    }
}

@media all and (max-width: 992px) {
    #header {
        height: 70vh;
        background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg');
        overflow: visible;
    }

    #main-text {
        top: 100%;
        transform: translateY(-10%);
        width: 100%;
        text-align: center;
        color: black;
        font-size: 8px;


    }
}
